@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter;
  --font-mono: Monaco;
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --font-serif: Merriweather;
  --radius: 0px;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(0.9702 0 0);
  --foreground: oklch(0.2891 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2891 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2891 0 0);
  --primary: oklch(0.7650 0.1664 130.3313);
  --primary-foreground: oklch(0.4470 0.0585 169.3451);
  --secondary: oklch(0.8027 0.1355 349.2347);
  --secondary-foreground: oklch(0.4061 0.1578 23.7064);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.2891 0 0);
  --accent: oklch(0.7407 0.1353 244.4679);
  --accent-foreground: oklch(0.2303 0.0125 264.2926);
  --destructive: oklch(0.7371 0.2103 343.0784);
  --border: oklch(0 0 0);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7380 0 0);
  --chart-1: oklch(0.7650 0.1664 130.3313);
  --chart-2: oklch(0.8027 0.1355 349.2347);
  --chart-3: oklch(0.7407 0.1353 244.4679);
  --chart-4: oklch(0.7303 0.1944 147.4439);
  --chart-5: oklch(0.8027 0.1355 349.2347);
  --radius: 0px;
  --sidebar: oklch(0.9702 0 0);
  --sidebar-foreground: oklch(0.2891 0 0);
  --sidebar-primary: oklch(0.7650 0.1664 130.3313);
  --sidebar-primary-foreground: oklch(0.4470 0.0585 169.3451);
  --sidebar-accent: oklch(0.7407 0.1353 244.4679);
  --sidebar-accent-foreground: oklch(0.2303 0.0125 264.2926);
  --sidebar-border: oklch(0 0 0);
  --sidebar-ring: oklch(0.7380 0 0);
  --destructive-foreground: oklch(0.4047 0.1592 28.3313);
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Monaco;
  --shadow-color: #000000;
  --shadow-opacity: 100%;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0.2px;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 0px 2px hsl(0 0% 0% / 50.00);
  --shadow-xs: 2px 2px 0px 2px hsl(0 0% 0% / 50.00);
  --shadow-sm: 2px 2px 0px 2px hsl(0 0% 0% / 100.00), 2px 1px 2px 1px hsl(0 0% 0% / 100.00);
  --shadow: 2px 2px 0px 2px hsl(0 0% 0% / 100.00), 2px 1px 2px 1px hsl(0 0% 0% / 100.00);
  --shadow-md: 2px 2px 0px 2px hsl(0 0% 0% / 100.00), 2px 2px 4px 1px hsl(0 0% 0% / 100.00);
  --shadow-lg: 2px 2px 0px 2px hsl(0 0% 0% / 100.00), 2px 4px 6px 1px hsl(0 0% 0% / 100.00);
  --shadow-xl: 2px 2px 0px 2px hsl(0 0% 0% / 100.00), 2px 8px 10px 1px hsl(0 0% 0% / 100.00);
  --shadow-2xl: 2px 2px 0px 2px hsl(0 0% 0% / 250.00);
  --tracking-normal: 0.2px;
}

.dark {
  --background: oklch(0.2891 0 0);
  --foreground: oklch(0.9564 0.0356 101.8506);
  --card: oklch(0.3211 0 0);
  --card-foreground: oklch(0.9564 0.0356 101.8506);
  --popover: oklch(0.3211 0 0);
  --popover-foreground: oklch(0.9564 0.0356 101.8506);
  --primary: oklch(0.4465 0.0593 169.6703);
  --primary-foreground: oklch(0.7650 0.1664 130.3313);
  --secondary: oklch(0.4061 0.1578 23.7064);
  --secondary-foreground: oklch(0.8027 0.1355 349.2347);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(0.9564 0.0356 101.8506);
  --accent: oklch(0.2303 0.0125 264.2926);
  --accent-foreground: oklch(0.7407 0.1353 244.4679);
  --destructive: oklch(0.4047 0.1592 28.3313);
  --border: oklch(1.0000 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.4495 0 0);
  --chart-1: oklch(0.4465 0.0593 169.6703);
  --chart-2: oklch(0.4061 0.1578 23.7064);
  --chart-3: oklch(0.2303 0.0125 264.2926);
  --chart-4: oklch(0.5782 0.1372 144.2082);
  --chart-5: oklch(0.5695 0.1910 5.9428);
  --sidebar: oklch(0.2891 0 0);
  --sidebar-foreground: oklch(0.9564 0.0356 101.8506);
  --sidebar-primary: oklch(0.4465 0.0593 169.6703);
  --sidebar-primary-foreground: oklch(0.7650 0.1664 130.3313);
  --sidebar-accent: oklch(0.2303 0.0125 264.2926);
  --sidebar-accent-foreground: oklch(0.7407 0.1353 244.4679);
  --sidebar-border: oklch(1.0000 0 0);
  --sidebar-ring: oklch(0.4495 0 0);
  --destructive-foreground: oklch(0.7371 0.2103 343.0784);
  --radius: 0px;
  --font-sans: Inter;
  --font-serif: Merriweather;
  --font-mono: Monaco;
  --shadow-color: #FFFFFF;
  --shadow-opacity: 100%;
  --shadow-blur: 0px;
  --shadow-spread: 2px;
  --shadow-offset-x: 2px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0.2px;
  --spacing: 0.25rem;
  --shadow-2xs: 2px 2px 0px 2px hsl(0 0% 100% / 50.00);
  --shadow-xs: 2px 2px 0px 2px hsl(0 0% 100% / 50.00);
  --shadow-sm: 2px 2px 0px 2px hsl(0 0% 100% / 100.00), 2px 1px 2px 1px hsl(0 0% 100% / 100.00);
  --shadow: 2px 2px 0px 2px hsl(0 0% 100% / 100.00), 2px 1px 2px 1px hsl(0 0% 100% / 100.00);
  --shadow-md: 2px 2px 0px 2px hsl(0 0% 100% / 100.00), 2px 2px 4px 1px hsl(0 0% 100% / 100.00);
  --shadow-lg: 2px 2px 0px 2px hsl(0 0% 100% / 100.00), 2px 4px 6px 1px hsl(0 0% 100% / 100.00);
  --shadow-xl: 2px 2px 0px 2px hsl(0 0% 100% / 100.00), 2px 8px 10px 1px hsl(0 0% 100% / 100.00);
  --shadow-2xl: 2px 2px 0px 2px hsl(0 0% 100% / 250.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-sans;
  }
}